html {
  font-size: 16pt;
  font-family: "Comfortaa", "Verdana", sans-serif;
  font-weight: 300;
  color: #303030;
  background-color: #f8f8f8;
  height: 100%;
}

body {
  line-height: 1.7rem;
  height: 100%;
}

a, a:visited {
  color: #6B68F1;
}

.centerFlex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.container {
  max-width: 40em;
  margin: 0 1em;
  text-align: left;
}

#title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #a5a5a5;
  text-transform: lowercase;
  margin: 0;
}

.thai {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}