html {
  font-size: 16pt;
  font-family: "Comfortaa", "Verdana", sans-serif;
  font-weight: 300;
  color: #303030;
  background-color: #f8f8f8;
  height: 100%;
}

body {
  line-height: 1.7rem;
  height: 100%;
}

a, a:visited {
  color: #6B68F1;
}

nav {
  padding: .5rem;
  position: fixed;
  flex: 1;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background: #f8f8f8;
  opacity: 1;
}

.nav-links a {
  text-decoration: none;
  color: #303030;
  padding: .25rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.nav-links a:hover {
  color: #6B68F1;
}

.hidden-nav {
  display: flex;
  align-items: center;
  padding: .5rem;
  height: 2.5rem;
}

.hamburger {
  display: flex;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* when hamburger icon is checked, nav links will pop out */
#menu-toggle:checked ~ .nav-links {
  display: flex;
  flex-direction: column;
}

.nav-links {
  display: none;
}

.nav-links a {
  flex: 1 0;
  text-align: left;
}

.breadcrumbs, .breadcrumbs a {
  font-weight: bold;
  color: #a5a5a5;
  text-decoration: none;
}

/* Style the list */
.breadcrumbs ul {
  padding: 0;
  list-style: none;
}

/* Display list items side by side */
.breadcrumbs ul li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumbs ul li+li:before {
  padding: 0 0.1rem;
  color: #a5a5a5;
  content: "/\00a0";
}

.breadcrumbs ul li a:hover {
  color: #6B68F1;
}

.centerFlex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-right: 0.5rem;
}

.container {
  max-width: 40em;
  margin: 0 1em;
  text-align: left;
}

#title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #a5a5a5;
  text-transform: lowercase;
  margin: 0;
}

.thai {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.clients p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}